<article class="units-split">

    <% project_collection.each do |project| %>

    <div class="content unit-50">
        <%= link_to project, class: "postLink" do %>
        <div class="contentImg"><%= image_tag project.image %></div>
        <div class="content-inner">
            <div class="unit-80">
                <header class="contentHash">
                    <a href="#"><span class="hash">#fun</span></a>
                    <a href="#"><span class="hash">#memorable</span></a>
                    <a href="#"><span class="hash">#helpful</span></a>
                </header>
                <h1><span><%= project.header %></span></h1>
                <p class="textRed">

                    <% project.tags.any? %>
                    <span><%= project.tags.map{|tag| link_to tag.name, tagged_url(:tag => tag.name)}.join(', ').html_safe %></span>
                </p>
            </div>
            <div class="unit-20">
                <ul class="action">
                    <li class="wlButton"><%= render '/shared/wishlist_form', :project => project %><br><span class="count"><%= project.wishlists.count %></span></li>
                    <li class="likePost"><%= render '/shared/like_form', :project => project %><br><span class="count"><%= project.likes.count %></span></li>
                </ul>
            </div>
        </div>
        <footer>
            <div class="footer-inner">
                <p class="auther"><a href="#"><img src="/assets/icon_user@2x.png" height="11" width="11" alt=""><%= project.user.username %></a></p>
                <time>
                    <%= project.created_at.strftime("%b %d '%y at %H:%M") %>
                </time>
            </div>
        </footer>
        <% end %>
    </div>

    <% end %>