<h2>Sign up</h2>

<dl class="units-row units-split signup">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <dt class="unit-20"><%= f.label :name %></dt>
    <dd class="unit-80"><%= f.text_field :name %></dd>

    <dt class="unit-20"><%= f.label :username %></dt>
    <dd class="unit-80"><%= f.text_field :username %></dd>

    <dt class="unit-20"><%= f.label :email %></dt>
    <dd class="unit-80"><%= f.email_field :email %></dd>

    <dt class="unit-20"><%= f.label :location %></dt>
    <dd class="unit-80"><%= f.text_field :location %></dd>
    
    <dt class="unit-20"><%= f.label :password %></dt>
    <dd class="unit-80"><%= f.password_field :password %></dd>

    <dt class="unit-20"><%= f.label :password_confirmation %></dt>
    <dd class="unit-80"><%= f.password_field :password_confirmation %></dd>

        <dd class="unit-80">
            <div class="file">
              Avatar:
              <%= f.file_field :image %>
            </div>
        </dd>

    <div><%= f.submit "Sign up" %></div>
  <% end %>
</dl>

<%= render "devise/shared/links" %>
