<header class="headerMypage unit-row">
        <div class="unit-80">
            <div class="mypageIcon"><%= image_tag @user.avatar, size: "80" %></div>
            <div class="mypageInfo">
                <ul>
                    <li class="mypageName"><%= @user.username %></li>
                    <li class="mypageLocation">from <%= @user.location %></li>
                    <li class="mypageSchool"><img src="/assets/icon_school.png" height="16" width="16" alt="">American School in Japan</li>
                </ul>
            </div>
        </div>
        <div class="unit-20">
            <ul class="mypageSetting">
                <li><%= link_to "#{image_tag"/assets/icon_setting.png", size: "28"}Settings".html_safe, edit_user_registration_path(@user) %></li>
                <li><%= link_to "#{image_tag"/assets/icon_logout.png", size: "28"}Log Out".html_safe, destroy_user_session_path, :method => :delete %></li>
            </ul>
        </div>
        <div class="mypageNav">
            <ul>
                <li class="uploaded"><%= link_to user_path do %>
                	Uploaded <span class="num"><%= @user.projects.count %></span>
                <% end %> </li>
                <li class="wishlist"><%= link_to wishlist_user_path do %>
                	Wishlist <span class="num"><%= @user.wishlist.projects.count %></span>
               <% end %> </li>

                <li class="liked"><%= link_to likes_user_path do %>
                	Liked <span class="num"><%= @user.liked_projects.count %></span>
                <% end %> </li>
            </ul>
            <form action="">
                <img src="/assets/icon_search.png" height="15" width="15" alt=""><input type="search" placeholder="Search from moewave">
            </form>
        </div>
</header>