<!-- <div class="unit-80 mainContent">
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user.id %>
</p>

<p>x
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<%= link_to 'Edit', edit_user_registration_path(@user) %>
</div> -->

<div class="unit-80 mainContent">
    <!-- content -->

    <%= render 'user_header' %>

    <%= render '/shared/big_grid_view', :project_collection => @user.projects.sort_by{:created_at}.reverse %>

</div>