
<% form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :header %><br>
    <%= f.text_field :header %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= image_tag(@project.image_url) if @project.image? %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= form_for(@project) do |f| %>
    <h2>What’s your project?</h2>

    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <dl class="units-row units-split">
        <dt class="unit-20">Header*</dt>
        <dd class="unit-80"><%= f.text_field :header %></dd>
        <dt class="unit-20">Picture</dt>
        <dd class="unit-80">
            <div class="file">
              Choose file...
              <%= f.file_field :image %>
            </div>
        </dd>
        <dt class="unit-20" style="margin-bottom: 20px;">Description*</dt>
        <dd class="unit-80" style="margin-bottom: 20px;"><%= f.text_area(:description) %>

        <dt class="unit-20" style="margin-bottom: 20px;">Reflection*</dt>
        <dd class="unit-80" style="margin-bottom: 20px;"><%= f.text_area(:reflection) %></dd>

        <dt class="unit-20">Tags*</dt>
        <dd class="unit-80"><%= f.text_field :tag_list %></dd>

        <dt class="unit-20">Reactions*</dt>
        <dd class="unit-80"><%= f.text_field :reaction_list %></dd>
    </dl>

    <div class="sent">
        <%= f.submit %>
    </div>
  <% end %>