<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Header:</strong>
  <%= @project.header %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @project.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<p>
  <strong>Tags:</strong>
	<% @project.tags.any? %>
	<% @project.tags.each do |tag| %>
		<%= link_to tag.name, tagged_url(:tag => tag.name) %>
	<% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
 -->

<div class="unit-80 mainContent entry">
    <!-- content -->
    <div class="units-row">
        <div class="unit-80">
            <h2>
                <span class="mainTitle"> <%= @project.header %></span>
                <span class="copyLink">Copy this link to your clipboard</span>
            </h2>
            <div class="entryImg">
                <%= image_tag @project.image %>
            </div>
            <div class="entryBody">
                <%= @project.description %>
            </div>
        </div>
        <div class="unit-20 entSide">
            <div class="entAuthor">
                <%= image_tag @project.user.avatar, size: "80" %>
                <h3 class="entAuthorName"><%= @project.user.username %></h5>
                <span class="entAuthorLocation">from <%= @project.user.location %></span>
            </div>
            <div class="engTags">
                <h4>Tags</h4>
                <ul>
                    <% @project.tags.each do |tag| %>
                      <li><%= link_to tag.name, tagged_url(:tag => tag.name) %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>