<p id="notice"><%= notice %></p>

<p>
  <strong>Header:</strong>
  <%= @project.header %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @project.image_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
