
<div class="unit-80 mainContent entry">
    <!-- content -->
    <div class="units-row">
        <div class="unit-80">
            <h2>
                <span class="mainTitle"> <%= @project.header %></span>
                <span class="copyLink">Copy this link to your clipboard</span>
            </h2>
            <div class="entryImg">
                <%= image_tag @project.image %>
            </div>
            <div class="entryBody">
                <p><%= @project.description %></p>
                <p><%= @project.reflection %></p>
            </div>
        </div>
        <div class="unit-20 entSide">
            <div class="entAuthor">
                <%= image_tag @project.user.avatar, size: "80" %>
                <h3 class="entAuthorName"><%= @project.user.username %></h5>
                <span class="entAuthorLocation">from <%= @project.user.location %></span>
            </div>
            <div class="engTags">
                <h4>Tags</h4>
                <ul>
                    <% @project.tags.each do |tag| %>
                      <li><%= link_to tag.name, tagged_url(:tag => tag.name) %></li>
                    <% end %>
                </ul>
            </div>
            <% if current_user.is_owner?(@project) %>
            <div class="userControls">
              <ul>
                <li><%= link_to "Edit project", edit_project_path(@project) %></li>
                <li><%= link_to "Delete project", project_path(@project), :method => :delete %></li>

              </ul>
            </div>
            <% end %>
        </div>
    </div>
</div>