<div class="unit-80 mainContent">
  <h1>Listing projects tagged <%= @tags %></h1>

  <table>
    <thead>
      <tr>
        <th>Header</th>
        <th>Description</th>
        <th>Image url</th>
        <th>User</th>
        <th>Tags</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.header %></td>
          <td><%= project.description %></td>
          <td><%= project.image %></td>
          <td><%= project.user_id %></td>
          <td>
            <% project.tags.any? %>
            <% project.tags.each do |tag| %>
              <%= link_to tag.name, tagged_url(:tag => tag.name) %>
            <% end %>
          </td>
          <td><%= link_to 'Show', project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Project', new_project_path %>
</div>